@import './variable.scss';

%button{
    background-color: $primary-button-color;
    width: $primary-button-width;
    height: $primary-button-height;
    display: block;
    margin: 10px;    
}
.btn{
    @extend %button;
    color: $primary-button-text-color;
    border: 1px solid $primary-button-border-color;    
}

.btn-sec{
    @extend %button;
    color: $secondary-button-text-color;
    border: 1px solid $secondary-button-border-color;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}