$primary-button-color : white;
$primary-button-width : 240px;
$primary-button-height : 40px;
$primary-button-text-color : blue;
$primary-button-border-color : $primary-button-text-color;
$secondary-button-text-color : green;
$secondary-button-border-color : $secondary-button-text-color;